@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('images/background.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: fixed;
        top: 0; left: 0; width: 100%; height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }
}

:focus-visible {
    outline: 2px solid #34d399;
    outline-offset: 2px;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid hsla(354, 64%, 48%, 0.5);
    border-radius: 4px;
    color: #C72C3C;
    text-align: center;
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 2.5rem auto;
    padding: 0.75rem 1.25rem;
    width: 11.6875rem;
    height: 3.875rem;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: none;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 3.6rem;
    border-radius: 8px;
    margin-bottom: 2.5rem;

    p, span {
        color: #22daa8;
        font-weight: 700;
        font-size: 1.1875rem;
        line-height: 1.39rem;
    }

    .steps {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.3125rem;
        margin: 1rem 0;

        .step {
            width: 1rem;
            aspect-ratio: 1/1;
            background-color: #fff;
            border: 1.5px solid #22daa8;
            border-radius: 50%;
            transition: background-color 0.3s;

            &.active {
                background-color: #34d399;
            }
        }
    }
}

.question-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.question-title {
    font-size: 2.125rem;
    font-weight: 600;
    line-height: 2.49rem;
    margin: 1rem 0;
    text-align: center;
}

.movies_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 1.25rem auto;
    padding: 0.9375rem;
    width: fit-content;

    .movie_poster {
        /* delete all button  defaults */
        border: none;
        background-color: transparent;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        width: 13.25rem;
        height: 18.1875rem;
        cursor: pointer;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.44) 44%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;
            pointer-events: none;
        }

        &:hover::after {
            opacity: 1;
        }

        &:nth-child(1) {
            background-image: url('images/the_gray_man.webp');
            transition: background-image 0.3s ease-out;
        }

        &:nth-child(2) {
            background-image: url('images/blonde.webp');
            transition: background-image 0.3s ease-out;
        }

        &:nth-child(3) {
            background-image: url('images/minions_the_rise_of_gru.webp');
            transition: background-image 0.3s ease-out;
        }
    }    
}

.movie_selector {
    display: block;
}

.final_msg {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    margin: 1.25rem auto;
    width: fit-content;
    max-width: 70vw;
    background-color: #fff;
    border: 10px solid #61D6B6;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1.25rem;

    h1 {
        margin: 1.25rem;
        text-align: center;
        line-height: 2.34rem;
        font-size: 2rem;
        color: #22DAA8;
    }

    p {
        text-align: center;
        color: #081F44;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.76rem;
    }

    button {
        text-transform: uppercase;
        background-color: #EC5632;
        border-radius: 4px;
        padding: 1rem calc(1rem + 7vw);
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.34rem;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #FE3F11;
        }
    }
}

.noscript_message {
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 1rem;
    border: 1px solid #000;
    margin: 1rem;
    border-radius: 4px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    opacity: 45%;

    .footer_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
}

